pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.DS_Store
.DS_Store
scores/.DS_Store
.DS_Store
.DS_Store
scores/.DS_Store
scores/.DS_Store
.DS_Store
scores/.DS_Store
scores/Fugues/Fugue_I_in_C_major_BWV_846_-_Well_Tempered_Clavier_First_Book.mei
